@slideWidth: calc(~"100% - 60px");
@slideTranslate: calc(~"100% + 60px");
#aboutPage {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  background: black;
  color: white;
  width: @slideWidth;
  height: 100vh;
  transition: all .25s ease-in-out;
  transform: translateX(@slideTranslate);
  &.pageIn {
    transform: translateX(60px);
  }
}
